In [1]:
!pip install pyarrow

Requirement already satisfied: pyarrow in c:\python312\lib\site-packages (16.1.0)
Requirement already satisfied: numpy>=1.16.6 in c:\python312\lib\site-packages (from pyarrow) (1.26.4)

In [2]:
import pandas as pd

df_jan = pd.read_parquet("yellow_tripdata_2023-01.parquet")
df_feb = pd.read_parquet("yellow_tripdata_2023-02.parquet")
df_feb.shape[1]

19

In [3]:
len(df_jan.columns)

19

In [4]:
df_jan.columns == df_feb.columns

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
       False])

In [5]:
df_jan.columns

Index(['VendorID', 'tpep_pickup_datetime', 'tpep_dropoff_datetime',
       'passenger_count', 'trip_distance', 'RatecodeID', 'store_and_fwd_flag',
       'PULocationID', 'DOLocationID', 'payment_type', 'fare_amount', 'extra',
       'mta_tax', 'tip_amount', 'tolls_amount', 'improvement_surcharge',
       'total_amount', 'congestion_surcharge', 'airport_fee'],
      dtype='object')

In [6]:
df_feb.columns

Index(['VendorID', 'tpep_pickup_datetime', 'tpep_dropoff_datetime',
       'passenger_count', 'trip_distance', 'RatecodeID', 'store_and_fwd_flag',
       'PULocationID', 'DOLocationID', 'payment_type', 'fare_amount', 'extra',
       'mta_tax', 'tip_amount', 'tolls_amount', 'improvement_surcharge',
       'total_amount', 'congestion_surcharge', 'Airport_fee'],
      dtype='object')

In [7]:
df_feb.rename(columns={"Airport_fee": "airport_fee"}, inplace=True)

In [8]:
df_jan.columns == df_feb.columns

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True])

In [9]:
(
    df_jan["tpep_pickup_datetime"].isna().sum()
    + df_feb["tpep_pickup_datetime"].isna().sum()
)

0

In [10]:
(
    df_jan["tpep_dropoff_datetime"].isna().sum()
    + df_feb["tpep_dropoff_datetime"].isna().sum()
)

0

In [11]:
duration_all = df_jan["tpep_dropoff_datetime"] - df_jan["tpep_pickup_datetime"]
duration_all.std()

Timedelta('0 days 00:42:35.661074')

In [12]:
(
    df_jan[["DOLocationID", "PULocationID"]].isna().sum()
    + df_feb[["DOLocationID", "PULocationID"]].isna().sum()
)

DOLocationID    0
PULocationID    0
dtype: int64

In [13]:
filtered_df = df_jan[
    (
        (df_jan["tpep_dropoff_datetime"] - df_jan["tpep_pickup_datetime"])
        >= pd.Timedelta(minutes=1)
    )
    & (
        (df_jan["tpep_dropoff_datetime"] - df_jan["tpep_pickup_datetime"])
        <= pd.Timedelta(minutes=60)
    )
]

filtered_df_val = df_feb[
    (
        (df_feb["tpep_dropoff_datetime"] - df_feb["tpep_pickup_datetime"])
        >= pd.Timedelta(minutes=1)
    )
    & (
        (df_feb["tpep_dropoff_datetime"] - df_feb["tpep_pickup_datetime"])
        <= pd.Timedelta(minutes=60)
    )
]

In [14]:
duration = filtered_df["tpep_dropoff_datetime"] - filtered_df["tpep_pickup_datetime"]
duration_val = (
    filtered_df_val["tpep_dropoff_datetime"] - filtered_df_val["tpep_pickup_datetime"]
)

In [15]:
duration

0         0 days 00:08:26
1         0 days 00:06:19
2         0 days 00:12:45
3         0 days 00:09:37
4         0 days 00:10:50
                ...
3066761   0 days 00:13:59
3066762   0 days 00:19:27
3066763   0 days 00:24:31
3066764   0 days 00:13:00
3066765   0 days 00:14:24
Length: 3009173, dtype: timedelta64[us]

In [16]:
duration.std()

Timedelta('0 days 00:09:56.363137')

In [17]:
len(duration) / len(duration_all)

0.9812202822125979

In [18]:
filtered_df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,2,2023-01-01 00:32:10,2023-01-01 00:40:36,1.0,0.97,1.0,N,161,141,2,9.3,1.00,0.5,0.00,0.0,1.0,14.30,2.5,0.00
1,2,2023-01-01 00:55:08,2023-01-01 01:01:27,1.0,1.10,1.0,N,43,237,1,7.9,1.00,0.5,4.00,0.0,1.0,16.90,2.5,0.00
2,2,2023-01-01 00:25:04,2023-01-01 00:37:49,1.0,2.51,1.0,N,48,238,1,14.9,1.00,0.5,15.00,0.0,1.0,34.90,2.5,0.00
3,1,2023-01-01 00:03:48,2023-01-01 00:13:25,0.0,1.90,1.0,N,138,7,1,12.1,7.25,0.5,0.00,0.0,1.0,20.85,0.0,1.25
4,2,2023-01-01 00:10:29,2023-01-01 00:21:19,1.0,1.43,1.0,N,107,79,1,11.4,1.00,0.5,3.28,0.0,1.0,19.68,2.5,0.00

In [19]:
from sklearn.feature_extraction import DictVectorizer

# convert location IDs to strings
filtered_df = filtered_df.assign(PULocationID=filtered_df["PULocationID"].astype(str))
filtered_df = filtered_df.assign(DOLocationID=filtered_df["DOLocationID"].astype(str))
filtered_df_val = filtered_df_val.assign(
    PULocationID=filtered_df_val["PULocationID"].astype(str)
)
filtered_df_val = filtered_df_val.assign(
    DOLocationID=filtered_df_val["DOLocationID"].astype(str)
)

In [20]:
# combining to ensure all categories are known
X_train = filtered_df[["PULocationID", "DOLocationID"]]
X_val = filtered_df_val[["PULocationID", "DOLocationID"]]
combined_dicts = pd.concat([X_train, X_val]).to_dict(orient="records")

vectorizer = DictVectorizer(sparse=True)
vectorizer.fit(combined_dicts)  # Learn all features from combined data

# Transform datasets separately
X_train_vectorized = vectorizer.transform(X_train.to_dict(orient="records"))
X_val_vectorized = vectorizer.transform(X_val.to_dict(orient="records"))

In [21]:
print("Feature names:", vectorizer.get_feature_names_out([X_train_vectorized]))

Feature names: ['DOLocationID=1' 'DOLocationID=10' 'DOLocationID=100' 'DOLocationID=101'
 'DOLocationID=102' 'DOLocationID=105' 'DOLocationID=106'
 'DOLocationID=107' 'DOLocationID=108' 'DOLocationID=109'
 'DOLocationID=11' 'DOLocationID=111' 'DOLocationID=112'
 'DOLocationID=113' 'DOLocationID=114' 'DOLocationID=115'
 'DOLocationID=116' 'DOLocationID=117' 'DOLocationID=118'
 'DOLocationID=119' 'DOLocationID=12' 'DOLocationID=120'
 'DOLocationID=121' 'DOLocationID=122' 'DOLocationID=123'
 'DOLocationID=124' 'DOLocationID=125' 'DOLocationID=126'
 'DOLocationID=127' 'DOLocationID=128' 'DOLocationID=129'
 'DOLocationID=13' 'DOLocationID=130' 'DOLocationID=131'
 'DOLocationID=132' 'DOLocationID=133' 'DOLocationID=134'
 'DOLocationID=135' 'DOLocationID=136' 'DOLocationID=137'
 'DOLocationID=138' 'DOLocationID=139' 'DOLocationID=14'
 'DOLocationID=140' 'DOLocationID=141' 'DOLocationID=142'
 'DOLocationID=143' 'DOLocationID=144' 'DOLocationID=145'
 'DOLocationID=146' 'DOLocationID=147' 'DOLocationID=148'
 'DOLocationID=149' 'DOLocationID=15' 'DOLocationID=150'
 'DOLocationID=151' 'DOLocationID=152' 'DOLocationID=153'
 'DOLocationID=154' 'DOLocationID=155' 'DOLocationID=156'
 'DOLocationID=157' 'DOLocationID=158' 'DOLocationID=159'
 'DOLocationID=16' 'DOLocationID=160' 'DOLocationID=161'
 'DOLocationID=162' 'DOLocationID=163' 'DOLocationID=164'
 'DOLocationID=165' 'DOLocationID=166' 'DOLocationID=167'
 'DOLocationID=168' 'DOLocationID=169' 'DOLocationID=17'
 'DOLocationID=170' 'DOLocationID=171' 'DOLocationID=172'
 'DOLocationID=173' 'DOLocationID=174' 'DOLocationID=175'
 'DOLocationID=176' 'DOLocationID=177' 'DOLocationID=178'
 'DOLocationID=179' 'DOLocationID=18' 'DOLocationID=180'
 'DOLocationID=181' 'DOLocationID=182' 'DOLocationID=183'
 'DOLocationID=184' 'DOLocationID=185' 'DOLocationID=186'
 'DOLocationID=187' 'DOLocationID=188' 'DOLocationID=189'
 'DOLocationID=19' 'DOLocationID=190' 'DOLocationID=191'
 'DOLocationID=192' 'DOLocationID=193' 'DOLocationID=194'
 'DOLocationID=195' 'DOLocationID=196' 'DOLocationID=197'
 'DOLocationID=198' 'DOLocationID=2' 'DOLocationID=20' 'DOLocationID=200'
 'DOLocationID=201' 'DOLocationID=202' 'DOLocationID=203'
 'DOLocationID=204' 'DOLocationID=205' 'DOLocationID=206'
 'DOLocationID=207' 'DOLocationID=208' 'DOLocationID=209'
 'DOLocationID=21' 'DOLocationID=210' 'DOLocationID=211'
 'DOLocationID=212' 'DOLocationID=213' 'DOLocationID=214'
 'DOLocationID=215' 'DOLocationID=216' 'DOLocationID=217'
 'DOLocationID=218' 'DOLocationID=219' 'DOLocationID=22'
 'DOLocationID=220' 'DOLocationID=221' 'DOLocationID=222'
 'DOLocationID=223' 'DOLocationID=224' 'DOLocationID=225'
 'DOLocationID=226' 'DOLocationID=227' 'DOLocationID=228'
 'DOLocationID=229' 'DOLocationID=23' 'DOLocationID=230'
 'DOLocationID=231' 'DOLocationID=232' 'DOLocationID=233'
 'DOLocationID=234' 'DOLocationID=235' 'DOLocationID=236'
 'DOLocationID=237' 'DOLocationID=238' 'DOLocationID=239'
 'DOLocationID=24' 'DOLocationID=240' 'DOLocationID=241'
 'DOLocationID=242' 'DOLocationID=243' 'DOLocationID=244'
 'DOLocationID=245' 'DOLocationID=246' 'DOLocationID=247'
 'DOLocationID=248' 'DOLocationID=249' 'DOLocationID=25'
 'DOLocationID=250' 'DOLocationID=251' 'DOLocationID=252'
 'DOLocationID=253' 'DOLocationID=254' 'DOLocationID=255'
 'DOLocationID=256' 'DOLocationID=257' 'DOLocationID=258'
 'DOLocationID=259' 'DOLocationID=26' 'DOLocationID=260'
 'DOLocationID=261' 'DOLocationID=262' 'DOLocationID=263'
 'DOLocationID=264' 'DOLocationID=265' 'DOLocationID=27' 'DOLocationID=28'
 'DOLocationID=29' 'DOLocationID=3' 'DOLocationID=30' 'DOLocationID=31'
 'DOLocationID=32' 'DOLocationID=33' 'DOLocationID=34' 'DOLocationID=35'
 'DOLocationID=36' 'DOLocationID=37' 'DOLocationID=38' 'DOLocationID=39'
 'DOLocationID=4' 'DOLocationID=40' 'DOLocationID=41' 'DOLocationID=42'
 'DOLocationID=43' 'DOLocationID=44' 'DOLocationID=45' 'DOLocationID=46'
 'DOLocationID=47' 'DOLocationID=48' 'DOLocationID=49' 'DOLocationID=5'
 'DOLocationID=50' 'DOLocationID=51' 'DOLocationID=52' 'DOLocationID=53'
 'DOLocationID=54' 'DOLocationID=55' 'DOLocationID=56' 'DOLocationID=57'
 'DOLocationID=58' 'DOLocationID=59' 'DOLocationID=6' 'DOLocationID=60'
 'DOLocationID=61' 'DOLocationID=62' 'DOLocationID=63' 'DOLocationID=64'
 'DOLocationID=65' 'DOLocationID=66' 'DOLocationID=67' 'DOLocationID=68'
 'DOLocationID=69' 'DOLocationID=7' 'DOLocationID=70' 'DOLocationID=71'
 'DOLocationID=72' 'DOLocationID=73' 'DOLocationID=74' 'DOLocationID=75'
 'DOLocationID=76' 'DOLocationID=77' 'DOLocationID=78' 'DOLocationID=79'
 'DOLocationID=8' 'DOLocationID=80' 'DOLocationID=81' 'DOLocationID=82'
 'DOLocationID=83' 'DOLocationID=84' 'DOLocationID=85' 'DOLocationID=86'
 'DOLocationID=87' 'DOLocationID=88' 'DOLocationID=89' 'DOLocationID=9'
 'DOLocationID=90' 'DOLocationID=91' 'DOLocationID=92' 'DOLocationID=93'
 'DOLocationID=94' 'DOLocationID=95' 'DOLocationID=96' 'DOLocationID=97'
 'DOLocationID=98' 'DOLocationID=99' 'PULocationID=1' 'PULocationID=10'
 'PULocationID=100' 'PULocationID=101' 'PULocationID=102'
 'PULocationID=105' 'PULocationID=106' 'PULocationID=107'
 'PULocationID=108' 'PULocationID=109' 'PULocationID=11'
 'PULocationID=111' 'PULocationID=112' 'PULocationID=113'
 'PULocationID=114' 'PULocationID=115' 'PULocationID=116'
 'PULocationID=117' 'PULocationID=118' 'PULocationID=119'
 'PULocationID=12' 'PULocationID=120' 'PULocationID=121'
 'PULocationID=122' 'PULocationID=123' 'PULocationID=124'
 'PULocationID=125' 'PULocationID=126' 'PULocationID=127'
 'PULocationID=128' 'PULocationID=129' 'PULocationID=13'
 'PULocationID=130' 'PULocationID=131' 'PULocationID=132'
 'PULocationID=133' 'PULocationID=134' 'PULocationID=135'
 'PULocationID=136' 'PULocationID=137' 'PULocationID=138'
 'PULocationID=139' 'PULocationID=14' 'PULocationID=140'
 'PULocationID=141' 'PULocationID=142' 'PULocationID=143'
 'PULocationID=144' 'PULocationID=145' 'PULocationID=146'
 'PULocationID=147' 'PULocationID=148' 'PULocationID=149'
 'PULocationID=15' 'PULocationID=150' 'PULocationID=151'
 'PULocationID=152' 'PULocationID=153' 'PULocationID=154'
 'PULocationID=155' 'PULocationID=156' 'PULocationID=157'
 'PULocationID=158' 'PULocationID=159' 'PULocationID=16'
 'PULocationID=160' 'PULocationID=161' 'PULocationID=162'
 'PULocationID=163' 'PULocationID=164' 'PULocationID=165'
 'PULocationID=166' 'PULocationID=167' 'PULocationID=168'
 'PULocationID=169' 'PULocationID=17' 'PULocationID=170'
 'PULocationID=171' 'PULocationID=172' 'PULocationID=173'
 'PULocationID=174' 'PULocationID=175' 'PULocationID=177'
 'PULocationID=178' 'PULocationID=179' 'PULocationID=18'
 'PULocationID=180' 'PULocationID=181' 'PULocationID=182'
 'PULocationID=183' 'PULocationID=184' 'PULocationID=185'
 'PULocationID=186' 'PULocationID=187' 'PULocationID=188'
 'PULocationID=189' 'PULocationID=19' 'PULocationID=190'
 'PULocationID=191' 'PULocationID=192' 'PULocationID=193'
 'PULocationID=194' 'PULocationID=195' 'PULocationID=196'
 'PULocationID=197' 'PULocationID=198' 'PULocationID=199' 'PULocationID=2'
 'PULocationID=20' 'PULocationID=200' 'PULocationID=201'
 'PULocationID=202' 'PULocationID=203' 'PULocationID=204'
 'PULocationID=205' 'PULocationID=206' 'PULocationID=207'
 'PULocationID=208' 'PULocationID=209' 'PULocationID=21'
 'PULocationID=210' 'PULocationID=211' 'PULocationID=212'
 'PULocationID=213' 'PULocationID=214' 'PULocationID=215'
 'PULocationID=216' 'PULocationID=217' 'PULocationID=218'
 'PULocationID=219' 'PULocationID=22' 'PULocationID=220'
 'PULocationID=221' 'PULocationID=222' 'PULocationID=223'
 'PULocationID=224' 'PULocationID=225' 'PULocationID=226'
 'PULocationID=227' 'PULocationID=228' 'PULocationID=229'
 'PULocationID=23' 'PULocationID=230' 'PULocationID=231'
 'PULocationID=232' 'PULocationID=233' 'PULocationID=234'
 'PULocationID=235' 'PULocationID=236' 'PULocationID=237'
 'PULocationID=238' 'PULocationID=239' 'PULocationID=24'
 'PULocationID=240' 'PULocationID=241' 'PULocationID=242'
 'PULocationID=243' 'PULocationID=244' 'PULocationID=245'
 'PULocationID=246' 'PULocationID=247' 'PULocationID=248'
 'PULocationID=249' 'PULocationID=25' 'PULocationID=250'
 'PULocationID=251' 'PULocationID=252' 'PULocationID=253'
 'PULocationID=254' 'PULocationID=255' 'PULocationID=256'
 'PULocationID=257' 'PULocationID=258' 'PULocationID=259'
 'PULocationID=26' 'PULocationID=260' 'PULocationID=261'
 'PULocationID=262' 'PULocationID=263' 'PULocationID=264'
 'PULocationID=265' 'PULocationID=28' 'PULocationID=29' 'PULocationID=3'
 'PULocationID=30' 'PULocationID=31' 'PULocationID=32' 'PULocationID=33'
 'PULocationID=34' 'PULocationID=35' 'PULocationID=36' 'PULocationID=37'
 'PULocationID=38' 'PULocationID=39' 'PULocationID=4' 'PULocationID=40'
 'PULocationID=41' 'PULocationID=42' 'PULocationID=43' 'PULocationID=44'
 'PULocationID=45' 'PULocationID=46' 'PULocationID=47' 'PULocationID=48'
 'PULocationID=49' 'PULocationID=5' 'PULocationID=50' 'PULocationID=51'
 'PULocationID=52' 'PULocationID=53' 'PULocationID=54' 'PULocationID=55'
 'PULocationID=56' 'PULocationID=57' 'PULocationID=58' 'PULocationID=59'
 'PULocationID=6' 'PULocationID=60' 'PULocationID=61' 'PULocationID=62'
 'PULocationID=63' 'PULocationID=64' 'PULocationID=65' 'PULocationID=66'
 'PULocationID=67' 'PULocationID=68' 'PULocationID=69' 'PULocationID=7'
 'PULocationID=70' 'PULocationID=71' 'PULocationID=72' 'PULocationID=73'
 'PULocationID=74' 'PULocationID=75' 'PULocationID=76' 'PULocationID=77'
 'PULocationID=78' 'PULocationID=79' 'PULocationID=8' 'PULocationID=80'
 'PULocationID=81' 'PULocationID=82' 'PULocationID=83' 'PULocationID=85'
 'PULocationID=86' 'PULocationID=87' 'PULocationID=88' 'PULocationID=89'
 'PULocationID=9' 'PULocationID=90' 'PULocationID=91' 'PULocationID=92'
 'PULocationID=93' 'PULocationID=94' 'PULocationID=95' 'PULocationID=96'
 'PULocationID=97' 'PULocationID=98']

In [22]:
X_train_vectorized.shape[1]

519

In [23]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
import numpy as np

In [24]:
target = duration.dt.total_seconds() / 60.0
target

0           8.433333
1           6.316667
2          12.750000
3           9.616667
4          10.833333
             ...
3066761    13.983333
3066762    19.450000
3066763    24.516667
3066764    13.000000
3066765    14.400000
Length: 3009173, dtype: float64

In [25]:
model = LinearRegression()
model.fit(X_train_vectorized, target)

LinearRegression()

In [26]:
predictions = model.predict(X_train_vectorized)
predictions

array([11.52744385, 10.89786759, 11.32577815, ..., 11.73771364,
       12.70533125, 11.54221663])

In [27]:
# Calculate RMSE on train
rmse = np.sqrt(mean_squared_error(target, predictions))
print("RMSE on the training data:", rmse)

RMSE on the training data: 7.6492619310517975

In [28]:
predictions_val = model.predict(X_val_vectorized)
target_val = duration_val.dt.total_seconds() / 60.0

In [29]:
predictions_val

array([11.36782977, 49.69480593, 15.18872621, ..., 13.53316151,
       11.09582578, 13.15710349])

In [30]:
# Calculate RMSE on validation
rmse_val = np.sqrt(mean_squared_error(target_val, predictions_val))
print("RMSE on the training data:", rmse_val)

RMSE on the training data: 7.811821290624478